
.contents {

    @apply leading-loose font-light;

    a {
        @apply no-underline;
    }

    &.inline {

        ul, li {
            display: inline;
        }

        li:not(:last-child):after {
            content: " • ";
        }

    }

}
